<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
    <h1>Author list</h1>

    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        <tr th:each="author:${authors}">
            <td th:text="${author.firstName}"/> <!-- Reads value of field 'firstName' declared in Author.class -->
            <td th:text="${author.lastName}"/> <!-- Reads value of field 'lastName' declared in Author.class -->
        </tr>
    </table>

</body>
</html>