<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
    <h1>Book list</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Publisher</th>
        </tr>
        <tr th:each="book:${books}"> <!-- Iterates over Book entity -->
            <td th:text="${book.id}">123</td> <!-- Reads value of field 'id' declared in Book.class -->
            <td th:text="${book.title}">Spring in Action</td> <!-- Reads value of field 'title' declared in Book.class -->
            <td th:text="${book.publisher.name}">Wrox</td> <!-- Reads value of field 'name' declared in Publisher.class -->
        </tr>
    </table>

</body>
</html>